/* STATUS
   ========================================================================= */
.waiting_for_approval,
.waiting_for_approval th,
.waiting_for_approval td {
    border-color: #FFE082;
    background-color: #FFECB3;
}

.waiting_for_parts,
.waiting_for_parts th,
.waiting_for_parts td {
    border-color: #90CAF9;
    background-color: #BBDEFB;
}

.client_abort,
.client_abort th,
.client_abort td {
    border-color: #B0BEC5;
    background-color: #CFD8DC;
}

.without_repair,
.without_repair th,
.without_repair td {
    border-color: #B0BEC5;
    background-color: #CFD8DC;
}

.working,
.working th,
.working td {
    border-color: #EF9A9A;
    background-color: #FFCDD2;
}

.for_payment,
.for_payment th,
.for_payment td {
    border-color: #C5E1A5;
    background-color: #DCEDC8;
}

.payed,
.payed th,
.payed td {
    border-color: #E0E0E0;
    background-color: #FFF;
}
/* ------------------------------------------------------------------------- */


/* CHANGELIST
   ========================================================================= */
#changelist .state-filters a span:not([class=""]) {
    display: inline-block;
    margin-right: 6px;
    width: 5px;
    height: 10px;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
}

#changelist #changelist-filter {
    position: static;
    width: auto;
    background-color: transparent;
}

#changelist #changelist-filter h2,
#changelist #changelist-filter h3 {
    display: none;
}

#changelist #changelist-filter ul {
    overflow: hidden;
    margin: 0 0 10px;
    padding: 0;
}

#changelist #changelist-filter li {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

#changelist #changelist-filter li:last-of-type {
    margin-right: 0;
}

#changelist #changelist-filter li.selected {
    margin-left: 0;
    padding-left: 0;
    border-left: 0 none;
}

#changelist #changelist-filter li a {
    margin: 0;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    line-height: 1;
    text-decoration: none;
    color: #333;
    background: #FFF;
}

#changelist #changelist-filter li a:hover {
    border-color: #999;
    background-color: #EEE;
}

#changelist #changelist-filter li.selected a {
    border-color: #D4E157;
    background-color: #F9FBE7;
}

#changelist .results {
    margin-right: 0;
}

#changelist .field-field_id {
    padding-left: 1em;
}

#changelist .field-field_open {
    padding: 0 8px;
    vertical-align: middle;
}

#changelist .field-field_open a {
    display: inline-block;
    margin: 0;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    line-height: 1;
    text-decoration: none;
    color: #333;
    background: #FFF;
}

#changelist .field-field_open a:hover {
    border-color: #999;
    background-color: #EEE;
}

#changelist .paginator {
    margin-top: 20px;
}
/* ------------------------------------------------------------------------- */


/* REVIEWFORM
   ========================================================================= */
.review-form #content-main {
    overflow: hidden;
    max-width: 1200px;
}

.review-form .side-left {
    float: left;
    padding-right: 20px;
    width: 45%;
    box-sizing: border-box;
}

.review-form .side-right {
    float: right;
    padding-left: 20px;
    width: 55%;
    box-sizing: border-box;
}

.review-form .intro {
    font-size: 12px;
}

.review-form .intro .is_urgently {
    color: #F44336;
}

.review-form h1 .booking-status {
    display: inline-block;
    padding: 4px 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

.review-form .panel label {
    font-size: 12px;
    color: #000;
}

.review-form .panel p {
    font-size: 12px;
}

.review-form .panel p.form-field {
    padding-top: 0;
    padding-bottom: 0;
}

.review-form .panel-client {
    border: 1px solid #9CCC65;
}

.review-form .panel-client > h2 {
    color: #33691e;
    background-color: #DCEDC8;
}

.review-form .panel-device {
    border: 1px solid #FFB74D;
}

.review-form .panel-device > h2 {
    color: #EF6C00;
    background-color: #FFECB3;
}

.review-form .panel-problem {
    border: 1px solid #CE93D8;
}

.review-form .panel-problem > h2 {
    color: #4A148C;
    background-color: #E1BEE7;
}

.review-form .panel-done {
    border: 1px solid #9E9E9E;
}

.review-form .panel-done > h2 {
    color: #616161;
    background-color: #EEE;
}

.review-form .panel-spare_part {
    border: 1px solid #9E9E9E;
}

.review-form .panel-spare_part > h2 {
    color: #616161;
    background-color: #EEE;
}

.review-form .panel-total {
    border: 1px solid #00ACC1;
}

.review-form .panel-total > h2 {
    color: #0097A7;
    background-color: #B2EBF2;
}

.review-form .module > h2 {
    text-transform: uppercase;
}

.review-form .form-row {
    padding: 2px 10px;
}

.review-form .form-row label {
    font-weight: bold;
}

.review-form .action-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 40px;
    font-size: 0;
    background-color: #417690;
}

.review-form .action-panel .action-separator {
    display: inline-block;
    margin-right: 10px;
    width: 1px;
    height: 30px;
    vertical-align: bottom;
    border-right: 1px solid #000;
    opacity: 0.2;
    background-color: #FFF;
}

.review-form .action-panel button {
    display: inline-block;
    margin-right: 10px;
    padding: 7px 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    line-height: 1;
    text-decoration: none;
    color: #333;
    background: #FFF;
    cursor: pointer;
}

.review-form .action-panel button:last-child {
    margin-right: 0;
}

.review-form .action-panel button:hover {
    border-color: #D4E157;
    background-color: #F9FBE7;
}

.review-form .action-panel button.save {
    float: right;
}

#jobs-form,
#spare_part-form {
    width: 100%;
}

#jobs-form thead th,
#spare_part-form thead th {
    border-top: 0 none;
    border-bottom: 1px solid #999;
    color: #000;
    background-color: transparent;
}

#jobs-form tbody td,
#spare_part-form tbody td {
    vertical-align: middle;
}

#jobs-form tfoot td,
#spare_part-form tfoot td {
    border-top: 1px solid #999;
    font-size: 12px;
    color: #000;
}

#jobs-form tfoot td.col-title,
#spare_part-form tfoot td.col-title {
    text-align: right;
}

#jobs-form tfoot td.col-price,
#spare_part-form tfoot td.col-price {
    padding-left: 14px;
}

#jobs-form.readable tfoot td.col-price,
#spare_part-form.readable tfoot td.col-price {
    padding-left: 10px;
}

#jobs-form input,
#spare_part-form input {
    width: 100%;
    box-sizing: border-box;
}

#jobs-form .col-price,
#spare_part-form .col-price {
    width: 70px;
}

#jobs-form .col-action,
#spare_part-form .col-action {
    width: 60px;
    vertical-align: middle;
    text-align: center;
}

#jobs-form button,
#spare_part-form button {
    min-width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

#jobs-form button.delete-button,
#spare_part-form button.delete-button {
    color: #B71C1C;
}

#jobs-popup,
#spare_part-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#jobs-popup.closed,
#spare_part-popup.closed {
    display: none;
}

#available-jobs,
#available-spare_part {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    min-height: 200px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #CCC;
    background-color: #FFF;
}

#available-jobs table,
#available-spare_part table {
    width: 100%;
}

#available-jobs .row:hover,
#available-spare_part .row:hover {
    background-color: #EEE;
    cursor: pointer;
}

#jobs-popup .overlay,
#spare_part-popup .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
/* ------------------------------------------------------------------------- */
