{% extends "admin/base_site.html" %}
{% load i18n admin_urls static crm_tags pipeline %}

{% block title %}Просмотр заявки № {{ object.pk }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    {% stylesheet 'fontawesome' %}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} review-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Просмотр заявки № {{ object|truncatewords:"18" }}
</div>
{% endblock %}


{% block messages %}
    {{ block.super }}
    {% with object.available_transitions as transitions %}
        {% if transitions and object.state == 'for_payment' and 'close' not in transitions %}
        <ul class="messagelist">
            <li class="warning">Нельзя закрыть заявку, т.к. клиент не оплатил полную стоимость или не вернул устройство на замену!</li>
        </ul>
        {% endif %}
    {% endwith %}
{% endblock messages %}


{% block content %}
    <form action="" method="POST" data-csrf="{{ token.value }}">{% csrf_token %}{{ form.non_field_errors }}
    <div id="content-main">
        <fieldset class="module intro">
            <div class="field-box">
                <strong>Принят:</strong> {{ object.created }}
            </div>

            <div class="field-box">
                <strong>Предполагаемая дата готовности:</strong> {{ object.estimated_date }} {% if object.is_urgently %}(<span class="is_urgently">Срочно!</span>){% endif %}
            </div>

            <div class="field-box">
                <strong>Предполагаемая стоимость:</strong> {{ object.estimated_cost|price }}
            </div>
        </fieldset>

        {% if object.state == 'working' or object.state == 'payed' %}
        <fieldset class="module intro">
            <div class="field-box">
                <strong>Документы:</strong> {% if object.state == 'working' %}<a href="{% url 'documents:receipt' object.pk %}">Квитанция о приёме</a>{% endif %} {% if object.state == 'payed' %}<a href="{% url 'documents:guarantee' object.pk %}">Гарантийный талон</a>{% endif %}
            </div>
        </fieldset>
        {% endif %}

        <div class="side-left">
            {# CLIENT #}
            <div class="module aligned panel panel-client">
                <h2>Клиент</h2>
                <div class="form-row">
                    <label>ФИО</label>
                    <p>{{ object.client_name }}
                    {% if booking.client_characteristic %}
                        ({{ booking.client_characteristic }})
                    {% endif %}</p>
                </div>

                {% if object.client_phone %}
                    <div class="form-row">
                        <label>Телефон</label>
                        <p>{{ object.client_phone }}</p>
                    </div>
                {% endif %}

                {% if object.client_email %}
                    <div class="form-row">
                        <label>Email</label>
                        <p><a href="mailto:{{ object.client_email }}">{{ object.client_email }}</a></p>
                    </div>
                {% endif %}

                {% if object.client_address %}
                    <div class="form-row">
                        <label>Адрес</label>
                        <p>{{ object.client_address }}</p>
                    </div>
                {% endif %}
            </div>
            {# ------ #}

            {# DEVICE #}
            <div class="module aligned panel panel-device">
                <h2>Устройство</h2>
                {% if object.imei %}
                    <div class="form-row">
                        <label>IMEI</label>
                        <p>{{ object.imei }}
                    </div>
                {% endif %}

                {% if object.brand or object.model %}
                    <div class="form-row">
                        <label>Модель</label>
                        <p id="device-model" data-brand="{{ object.brand_id }}" data-model="{{ object.model_id }}">{{ object.brand }} {{ object.model }}</p>
                    </div>
                {% endif %}

                {% if object.kit %}
                    <div class="form-row">
                        <label>Комплект</label>
                        <p>{{ object.kit }}</p>
                    </div>
                {% endif %}
            </div>
            {# ------ #}

            {# TOTAL #}
            <div class="module aligned panel panel-total">
                <h2>Итого</h2>
                <div class="form-row">
                    <label>Устройство на замену</label>
                    <p class="form-field">
                        {{ form.replacement_device.errors }}
                        {{ form.replacement_device }}
                    </p>
                </div>
                <div class="form-row">
                    <label>Гарантия</label>
                    <p class="form-field">
                        {{ form.guarantee.errors }}
                        {{ form.guarantee }}
                    </p>
                </div>
                <div class="form-row">
                    <label>Мастер</label>
                    <p class="form-field">
                        {{ form.master.errors }}
                        {{ form.master }}
                    </p>
                </div>
                <div class="form-row">
                    <label>Сумма за ремонт</label>
                    <p id="booking-full-price">{{ object.total_sum|price }}</p>
                </div>
                <div class="form-row">
                    <label>Приход</label>
                    <p>{{ object.gain|price }}</p>
                </div>
                <div class="form-row">
                    <label>Долг</label>
                    <p>{{ object.debt|price }}</p>
                </div>
            </div>
            {# --------- #}
        </div>

        <div class="side-right">

            {# PROBLEM #}
            <div class="module aligned panel panel-problem">
                <h2>Неисправность</h2>
                {% if object.problem %}
                    <div class="form-row">
                        <label>Со слов клиента</label>
                        {{ object.problem|linebreaks }}
                    </div>
                {% endif %}

                {% if object.note %}
                    <div class="form-row">
                        <label>Примечание</label>
                        <p>{{ object.note }}</p>
                    </div>
                {% endif %}
            </div>
            {# ------- #}

            {# WORK DONE #}
            <div class="module aligned panel panel-done">
                <h2>Выполненная работа</h2>
                <div class="form-row">
                    {% if object.state == 'working' %}
                        {{ form.done_work.errors }}
                        {{ form.done_work }}
                        <div id="jobs"></div>
                    {% else %}
                        <table id="jobs-form" class="readable">
                            <thead>
                                <tr>
                                    <th>Работа</th><th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in object.done_work %}
                                    <tr>
                                        <td class="col-title">{{ row.title }}</td>
                                        <td class="col-price">{{ row.price|price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="col-title">Сумма за ремонт:</td>
                                    <td class="col-price">{{ object.done_work_sum|price }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
            </div>
            {# --------- #}

            {# SPARE PART #}
            <div class="module aligned panel panel-spare_part">
                <h2>Замененные детали</h2>
                <div class="form-row">
                    {% if object.state == 'working' %}
                        <div id="spare_part"></div>
                    {% else %}
                        <table id="spare_part-form" class="readable">
                            <thead>
                                <tr>
                                    <th>Работа</th><th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in object.spare_part_counts.all %}
                                    <tr>
                                        <td class="col-title">{{ row.title }}</td>
                                        <td class="col-price">{{ row.retail_price|price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="col-title">Сумма за запчасти:</td>
                                    <td class="col-price">{{ object.spare_part_sum|price }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
            </div>
            {# --------- #}
        </div>
    </div>

    {% with object.available_transitions as transitions %}
        {% if transitions %}
            <div class="action-panel">
                {% if 'repair' in transitions %}
                    <button type="submit" name="transition" value="repair">В ремонт</button>
                {% endif %}

                {% if 'wait_agree' in transitions %}
                    <button type="submit" name="transition" value="wait_agree">Согласовать</button>
                {% endif %}

                {% if 'wait_parts' in transitions %}
                    <button type="submit" name="transition" value="wait_parts">Ждать запчасти</button>
                {% endif %}

                {% if 'reject' in transitions %}
                    <button type="submit" name="transition" value="reject">Без ремонта</button>
                {% endif %}

                {% if 'ready' in transitions %}
                    <span class="action-separator"></span>
                    <button type="submit" name="transition" value="ready">Готово</button>
                {% endif %}

                {% if 'close' in transitions %}
                    <span class="action-separator"></span>
                    <button type="submit" name="transition" value="close">Выдать</button>
                {% endif %}

                <button class="save" type="submit" name="save" value="_continue">Сохранить и продолжить</button>
            </div>
        {% endif %}
    {% endwith %}
    {{ form.media }}
    {% if object.state == 'working' %}
        {% javascript 'marionette' %}
        {% javascript 'crm_app' %}
    {% endif %}
    </form>
{% endblock %}
